* {
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
}

.negro {
    background-color: black;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blanco {
    background-color: rgb(255, 255, 255);
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1500px)
{
    body{
        background-color: blueviolet;
    }
}
